#headerDiv{
    background-color: grey;
}

#search_icon {
    position: relative;
    right: 307px;
    bottom: 1px;
    height: 21px;
    width: 25px;
}

#search_iconBg{
    position: relative;
    right: 117px;
    top: 0px;
    height: 58px;
    width: 58px;
    border-radius: 10px;
}

#login{
    color: #002f34;
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    right: 100px;
    top: 12px;
}

#login:hover{
    text-decoration: none;
}
