#headerDiv{
    background-color: grey;
}

#search_icon {
    position: relative;
    right: 225px;
    bottom: 2px;
    height: 21px;
    width: 25px;
}

#search_iconBg{
    position: relative;
    right: 115px;
    top: 1px;
    height: 57px;
    width: 57px;
}